.round-img{
    border-radius: 100%;
    width: 60px;
    height: 60px;
}
div .card{
    margin: 10px;
    padding: 0 !important;
}
.card-row{
    /* padding: 12px 0px; */
    padding: 8px 4px;
    border-bottom: 0.2px solid lightgray;
    border-radius: 4px;
}

h5.cardtitle{
    margin: 0;
    font-size: 16px;
}


p.cardprice{
    margin: 0;
    font-size: 14px;
    color: rgb(82, 80, 80);
}

