div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;

  }
  a.menuItem{
      min-width: 50px;
      padding: 0px 8px;
      font-size: 12px;
  }
  div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    /* padding: 14px; */
    text-decoration: none;
  }
  
  div.scrollmenu a:hover {
    background-color: #777;
  }
  ul.menuItem02{
      margin: 0;
      padding: 12px 0px;
  }