.pageTimerContainer {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.timerHeading {
  display: flex;
}

.timerHeading .timerTitle {
  font-family: sans-serif;
  font-size: 20px;
  flex-grow: 4;
  margin-top: 10px;
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.timerHeading .goBack {
  flex-grow: 2;
  font-size: 22px;
  text-align: left;
  margin: auto;
  color: #696969;
  font-weight: bolder;
  background-color: white;
  border: none;
}

.successMsg {
  margin-top: 30px;
  font-style: italic;
  font-size: 18px;
}

.msgAboutCancel {
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;

  font-size: 15px;
  font-style: italic;
  color: grey;
}

.cancelOrderBtn {
  background-color: #20b2aa;
  border: none;
  border-radius: 10px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  padding: 10px 30px;

  position: fixed;
  bottom: 50px;
  right: 30%;
  left: 30%;
}
