@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

@font-face {
    font-family: SaverieFont;
    src: url(../../Pacifico-Regular.ttf);
}

.LogoBlock{
    position: fixed;
    background-color: black;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../background_image.jpeg");
    background-repeat: no-repeat;
    background-size:cover;
    height:100%;
    width: 100%;
    z-index: -1000;
}

.LogoHeading h1{
    /* background-image: url("../../background_image.jpeg") !important; */
    font-family: SaverieFont;
    font-size: 60px;
    color: white;
    text-align: center;
    padding-top: 250px;
    font-weight: 200;
}

.CatchPhrase h2{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    color:white;
    text-align: center;
    padding-top: 5px;
}
.scrollArrow{
    text-align: center;
    padding-top: 250px;
}

.UpArrow{
    font-size: 70px;
    color: rgba(255, 255, 255, 0.5);
    width: 100%;
}

@keyframes fa-blink {
    0% { opacity: 0.5; }
    50% { opacity: 0.8; }
    100% { opacity: 0.5; }
}
.fa-blink {
  -webkit-animation: fa-blink 1.25s linear infinite;
  -moz-animation: fa-blink 1.25s linear infinite;
  -ms-animation: fa-blink 1.25s linear infinite;
  -o-animation: fa-blink 1.25s linear infinite;
  animation: fa-blink 1.25s linear infinite;
}

.LogoPlaceHolder{
    height: 850px;
}
