.counter{
<<<<<<< HEAD
    text-align: center;
    /* padding-left: 2px; */
    /* padding-right: 2px; */
=======
   margin:0 auto;
   text-align: center;
}
.buttons{
    width: 100%;
    transform: translateX(0%);
>>>>>>> 7b09cf6a097a83016481dd741e557f6feff2d92d
}

.btn{
    padding-bottom: 0px;
}

<<<<<<< HEAD
    margin:0px 3px;
}

.max {
    font-size: 16px;
    color: grey;
    font-style: italic;
    padding-top: 10px;
    padding-left: 20px;
}
=======
>>>>>>> 7b09cf6a097a83016481dd741e557f6feff2d92d
