.restaurant {
  display: flex;
}

.restaurant img {
  width: 50px;
  height: 50px;
  margin-left: 20px;
}

.restaurant h2 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 550;
  font-size: 18px;
  padding-left: 10px;
}

hr {
  overflow-x: hidden;
  width: 100%;
}
