@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.AboutBlock{
    background-color: white;
    margin: 0;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    margin-top: -20px;
}
.AboutMainHeading h3{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 27px;
    text-align: center;
    padding-top: 30px;
}

.AboutRows{
    max-width: 95%;
}

.AboutHeading h4{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}

.AboutContent h5{
    font-size: 14px;
    /* padding-right: 25px; */
}
.AboutImage{
    width: 40px;
}
.HeaderRow{
    padding-left: 20px;
    padding-top: 10px;
}