.ContentSection{
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("../../background_about.jpeg");
    background-repeat: no-repeat;
    background-size:cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    max-height: 600px;
    margin-top: -20px;
    padding-bottom: 80px;
}