@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.PartnersBlock{
    margin-bottom: 50px;
    font-family: SaverieFont;
    padding-top:5px;

}
.PartnersHeading h3{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    padding-top:40px;
    padding-bottom: 15px;
}
.imageBox{
    text-align:center;
}
.imageRow2{
    padding-top:20px;
}