.PartnersBlock{
    margin-bottom: 90px;
}
.PartnersHeading h3{
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
}
.imageBox{
    text-align:center;
}
.imageRow2{
    padding-top:20px;
}