@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

/* .imageBox{
    max-width: 90%;
    text-align: center;
} */
.PartnersBlock{
    margin-bottom: 100px;
    background-color: white;
    font-family: SaverieFont;
    padding-top:20px;

}
.PartnersHeading h3{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
}
.imageBox{
    text-align:center;
}
.imageRow2{
    padding-top:20px;
}