@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

section {
    display: inline-block;
}

.backIcon {
    width: 10%;
}

.back-icon {
    display: inline-block;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    position: absolute;
    top: 20px;
    transform: scale(1.2);
    width: 10%;
    box-sizing: unset;
}

.page-title {
    font-family: 'Josefin Sans', sans-serif;
    display: inline-block;
    font-size: large;
    margin-top: 1rem;
}

.custom-text-center{
    text-align: center;
}

.custom-row{
    display: flex;
}

.custom-justify-content-center{
    justify-content: center;
}