section {
    display: inline-block;
}

.back-icon {
    display: inline-block;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    position: absolute;
    top: 20px;
    transform: scale(1.2);
}

.page-title {
    display: inline-block;
    font-size: large;
}

.text-center{
    text-align: center;
}

.row{
    display: flex;
}

.justify-content-center{
    justify-content: center;
}