div.top {
    max-height: 100px !important;

}
html {
    height: 0 !important;
}

.menuItems{
    /* padding: 4px 28px; */
    font-size: 20px;
    font-weight: 700;
    margin:  20px;
}

.floatBtn{
    /* background-color: white; */
    position:fixed;
    bottom:10px;
    width: 100%;
    align-items: center;

}
.floatBtnChild{
    width: 200px;
    margin: 0 auto;
}